<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="shortcut icon" href="/static/images/icon.png" type="image/x-icon"/>
    <title>lnshow</title>
    <!-- Bootstrap -->
    <link href="/static/js/plugins/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/js/plugins/bootstrap-multiselect/bootstrap-multiselect.css" rel="stylesheet">
    <link href="/static/js/plugins/draggable/dragslot.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/public.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/icons/iconfont.css">
    <link rel="stylesheet" href="/static/css/iconfont.css">
    <style>

        .placeholder {
            display: inline-block;
        }

        .btn-lg {
            font-size: 18px;
        }

        .layui-layer-title {
            color: #FFFFFF !important;
            background-color: #0c0c0c !important;
            border-bottom: none !important;
        }

        .layui-layer-btn {
            background-color: #151515 !important;
        }


        .layui-layer-content {
            background-color: #151515 !important;
        }
    </style>
</head>
<body>
<header style="position:relative;z-index: 9999">
    <div class="col-md-2 col-lg-2 col-sm-2 logo" style="cursor: pointer"
         onclick="window.location.href='{% url "home" %}'">
        <img src="/static/images/img/logo.png" alt="">
    </div>
    <div class="col-md-7 col-lg-8 col-sm-5 title">
        <h2>上海励能信息技术有限公司可视化平台</h2>
    </div>
    <div class="col-md-3 col-lg-2 col-sm-5 head">
        <ul class="nav navbar-nav">
            <li><span><img src="/static/images/img/easyico.png" alt=""></span></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" style="margin-top:10px;color: #fff" data-toggle="dropdown">
                    {{ user.first_name }}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu animated fadeInRight">
                    <li><a class="handler" data-event="click" data-layerOption='{"area": ["50%", "50%"], "shade" : [0.8, "#393D49"], "title": "修改密码", "btn": ["确认修改"], "type": 2, "content": "/modifyPwd", "yesReqUrl": "/modifyPwd", "yesAfterDo": "function(){ location.reload();}"
                            }' href="javascript:;">修改密码</a></li>
                    <li style="cursor: pointer"><a class="show_cate">素材管理</a></li>
                    <li style="cursor: pointer"><a class="edit_datas">数据源配置</a></li>
                    <li><a href="{% url 'logout' %}">注销</a></li>
                </ul>
            </li>
        </ul>
    </div>
    </div>
</header>
<div class="drag-slot">
    <div class="row" style="margin: 0">
        <div class="col-sm-12" style="background: rgba(0,0,0,0.8)">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">待轮播区</h3>
                </div>
                <div class="panel-body top-panel-body">
                    <div id="toBroadcast" class="containLoader">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="background: rgba(0,0,0,0.8)">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">已选择区</h3>
                    <div class="carousel_setting">
                        <span class="getname" style="float: right;color: #FFFFFF;margin-top: 5px" data-id={{ name }}>轮播设置</span>
                        <i class="iconfont icon-shezhi" style="float: right;color: #FFFFFF"></i>
                    </div>
                </div>
                <div class="panel-body bottom-panel-body">
                    <div id="chosen" class="containLoader empty-slot">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="/static/js/plugins/jquery/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="/static/js/plugins/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/static/js/plugins/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<script src="/static/js/plugins/draggable/easydrag.js"></script>
<script src="/static/js/plugins/draggable/dragslot.js"></script>
<script src="/static/js/plugins/layer/layui.all.js"></script>
<script src="/static/plugins/autoLayer.js"></script>
</body>
</html>

<script>
    $(function () {
        drag.loadChart({
            loader: $('#toBroadcast'),
            type: 'post',
            url: '{% url "home" %}'
        });
        //异常提示
        var utils = {
            error: function (content, options) {
                layer.msg(content, $.extend({
                    icon: 5,
                    time: 0,
                    anim: 6,
                    offset: '15px',
                    shade: 0.1,
                    shadeClose: true
                }, options));
            },
            success: function (content, options, success) {
                var f = typeof options === 'function';
                layer.msg(content, $.extend({
                    offset: '15px'
                    , icon: 6
                    , time: 1000,
                    shade: 0.1,
                }, f ? {} : options), f ? options : success);
            },
        }
        //
        $('.drag-slot').dragslot({
            slotItemClass: 'drag-box',
            placeholderClass: 'placeholder',
            dragItemClass: 'drag-box',
            slotListClass: 'containLoader',
            slotHandlerClass: 'box_backgruond',
            emptySlotClass: 'empty-slot',
            slotClass: 'slot',
            slotItem: 'div',
            slotList: 'div',
        });
    })
    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
    var inputdata = $('.getname').data('id')
    if (inputdata !== "None") {
        $.ajax({
            url: '{% url "broadcast" %}?name=' + inputdata,
            type: 'get',
            success: function (data) {
                $.each(data.imgs, function (i, val) {
                    {#console.log(val)#}
                    $('<div class="drag-box">').append(
                        $('<div class="box_backgruond">').append(
                            $('<img />').attr('src', (val['bg'] || '/static/images/img/beij.png')).attr('title', val['name']).attr('onerror', 'this.src="/static/images/img/beij.png"')).append($('<div class="name_add">')
                            .append($('<span>').html(val['name'])))).data('chart', val).appendTo("#chosen")
                })
            }
        })
    }
    //轮播设置的点击事件
    $('.carousel_setting').on('click', function (e) {
        layer.open({
            type: 2,
            title: '轮播设置',
            area: ['50%', '50%'], //宽高
            content: '/carousel_setting',
            btn: ['确认', '取消'],
            yes: function (index, layero) {
                var formData = $(this).parents('form').serializeObject();
                var imgs = [];
                // 组装图片
                $('#chosen .drag-box').each(function (i, dom) {
                    var chart = $(dom).data('chart'),
                        bg = chart['bg_img']
                    delete chart['bg_img'], (chart['bg'] = bg)
                    imgs.push(chart);
                });
                // 创建必要验证
                if (!formData.name) {
                    utils.error('轮播名称不能为空');
                    return;
                }
                if (!formData.pauseTime) {
                    utils.error('轮播间隔时间不能为空');
                    return;
                }
                if (imgs.length <= 1) {
                    utils.error('已选择区的展览图数量需大于1');
                    return;
                }
                // 组装formData
                formData['imgs'] = imgs;
                // 创建请求
                $.ajax({
                    url: '{% url "broadcast" %}?name=' + formData.name,
                    type: 'post',
                    data: {update: JSON.stringify(formData)},
                    success: function (data) {
                        utils.success('创建成功')
                    }
                })
            }
        })
    })
</script>
