<nav class="navbar navbar-inverse" style="border-radius: 0 !important;background-color:#212528; margin-bottom: 0px;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" onclick="window.location.href='{% url "home" %}'"><img
                    src="/static/images/logo.png"></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
            <div class="nav_me navbar-nav">
                <ul id="nav_me" class="nav_me clearfix nav_img">
                    <li class="nLi">
                        <h3><a href="{% url 'home' %}" {% if action == "home" %}class="active" {% endif %}>我的可视化</a>
                        </h3>
                    </li>
                    <li class="nLi">
                        <h3><a href="{% url 'broadcast_list' %}"
                               {% if action == "broadcast" %}class="active" {% endif %}>我的轮播</a></h3>
                    </li>
                    <li class="nLi">
                        <h3><a href="{% url 'show_templates' %}"
                               {% if action == "template" %}class="active" {% endif %}>经典案例</a></h3>
                    </li>
                </ul>
            </div>
            <ul class="nav navbar-top-links navbar-right nav_me">
                <li class="dropdown profile-element nLi">
                    <a data-toggle="dropdown" class="dropdown-toggle nav" href="#">
                    <span class="text-xs block">
                        {{ user.first_name }} <b class="caret"></b>
                    </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight">
                        <li><a class="handler" data-event="click" data-layerOption='{"area": ["50%", "50%"], "shade" : [0.8, "#393D49"], "title": "修改密码", "btn": ["确认修改"], "type": 2, "content": "/modifyPwd", "yesReqUrl": "/modifyPwd", "yesAfterDo": "function(){ location.reload();}"
                            }' href="javascript:;">修改密码</a></li>
                        <li style="cursor: pointer"><a class="show_cate">素材管理</a></li>
                        <li style="cursor: pointer"><a class="edit_datas">数据源配置</a></li>
                        <li><a href="{% url 'logout' %}">注销</a></li>
                    </ul>
                </li>

            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<script src="/static/js/plugins/jquery/jquery.min.js"></script>
<script>
    $('.show_cate').click(function () {
        layer.open({
            type: 2,
            title: '素材管理',
            shadeClose: true,
            shade: 0.8,
            area: ['80%', '90%'],
            content: '/show_cate'
        });
    })

    $('.edit_datas').click(function () {
        layer.open({
            type: 2,
            title: '编辑数据源',
            shadeClose: true,
            shade: 0.8,
            area: ['80%', '90%'],
            content: '/show_data',
        });
    })
</script>
